<div class="row">
    <div class="col-12">
        <div class="card card-body card-accent-primary email-app">

            <div class="messages" *ngIf="posts">

                <ng-template ngFor let-item [ngForOf]="posts" let-i="index">
                    <a class="message" href="javascript:;" routerLink="/dashboard/blog/{{ item.url }}">
                        <div class="message-details">
                            <div class="message-headers">
                                <div class="message-headers-from text-capitalize">
                                    <i class="fas fa-badge-check text-primary" *ngIf="item.author.title === 'Developer'"></i>
                                    <i class="fas fa-star text-warning" *ngIf="item.author.title !== 'Developer'"></i>
                                    {{ item.author.username }}
                                </div>
                                <div class="message-headers-date">
                                    <i class="fas fa-history"></i>
                                    {{ item.created.createdAt | date: 'MMMM d, y h:mm a' }}
                                </div>
                                <div class="message-headers-subject mt-2">
                                    {{ item.title }}
                                </div>
                            </div>
                            <div class="message-body" [innerHTML]="item.body">
                            </div>
                        </div>
                    </a>
                </ng-template>
                
            </div>

        </div>
    </div>
</div>