<div class="app light-theme">
    <div class="sidebar sidebar-dark sidebar-fixed sidebar-lg-show scrollbar" id="sidebar">
        
        <div class="sidebar-brand d-md-down-none">
            <div class="sidebar-brand-full">
                <i class="fas fa-2x fa-signal-stream"></i>
            </div>

            <div class="sidebar-brand-minimized">
                <i class="fas fa-2x fa-signal-stream"></i>
            </div>
        </div>

        <ul class="sidebar-nav" perfectScrollbar>

            <li class="sidebar-nav-title">Navigation</li>
            <li class="sidebar-nav-item">
                <a class="sidebar-nav-link" href="javascript:;" routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <i class="fal fa-laptop sidebar-nav-icon"></i>
                    Dashboard
                </a>
            </li>
            <li class="sidebar-nav-item">
                <a class="sidebar-nav-link" href="javascript:;" routerLink="/dashboard/purchase" routerLinkActive="active">
                    <i class="fal fa-shopping-cart sidebar-nav-icon"></i>
                    Purchase
                </a>
            </li>
            <li class="sidebar-nav-item">
                <a class="sidebar-nav-link" href="javascript:;" routerLink="/dashboard/network-status" routerLinkActive="active">
                    <i class="fal fa-server sidebar-nav-icon"></i>
                    Network Status
                </a>
            </li>
            <li class="sidebar-nav-item">
                <a class="sidebar-nav-link" href="javascript:;" routerLink="/dashboard/blog" routerLinkActive="active">
                    <i class="fal fa-blog sidebar-nav-icon"></i>
                    Blog
                </a>
            </li>

            <li class="sidebar-nav-title" *ngIf="management">Management</li>
            <li class="sidebar-nav-item" *ngIf="management && checkAccessPage(this.currentUser.access.pages, 'page', 'staff-watchdog')">
                <a class="sidebar-nav-link" href="javascript:;" routerLink="/dashboard/staff/watchdog" routerLinkActive="active">
                    <i class="fal fa-eye sidebar-nav-icon"></i>
                    Watchdog
                </a>
            </li>
            <li class="sidebar-nav-dropdown" *ngIf="management" navbarDropdown>
                <a class="sidebar-nav-dropdown-toggle" href="javascript:;">
                    <i class="fal fa-life-ring sidebar-nav-icon"></i>
                    Support
                </a>
                <ul class="sidebar-nav-dropdown-items">
                    <li class="sidebar-nav-item" *ngIf="checkAccessPage(this.currentUser.access.pages, 'page', 'live-support')">
                        <a class="sidebar-nav-link" href="https://tawk.to" target="new">
                            <i class="fal fa-headset sidebar-nav-icon"></i>
                            Live Support
                        </a>
                    </li>
                    <li class="sidebar-nav-item" *ngIf="checkAccessPage(this.currentUser.access.pages, 'page', 'contact-overview')">
                        <a class="sidebar-nav-link" href="javascript:;" routerLink="/dashboard/staff/contact" routerLinkActive="active">
                            <i class="fal fa-inbox sidebar-nav-icon"></i>
                            Contact Requests
                        </a>
                    </li>
                </ul>
            </li>

            <li class="sidebar-nav-dropdown" *ngIf="management" navbarDropdown>
                <a class="sidebar-nav-dropdown-toggle" href="javascript:;">
                    <i class="fal fa-users sidebar-nav-icon"></i>
                    Users
                </a>
                <ul class="sidebar-nav-dropdown-items">
                    <li class="sidebar-nav-item" *ngIf="checkAccessPage(this.currentUser.access.pages, 'page', 'users-overview')">
                        <a class="sidebar-nav-link" href="javascript:;" routerLink="/dashboard/staff/users" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            <i class="fal fa-search sidebar-nav-icon"></i>
                            Overview
                        </a>
                    </li>
                    <li class="sidebar-nav-item" *ngIf="checkAccessPage(this.currentUser.access.pages, 'page', 'users-add')">
                        <a class="sidebar-nav-link" href="javascript:;" routerLink="/dashboard/staff/users/add" routerLinkActive="active">
                            <i class="fal fa-user-plus sidebar-nav-icon"></i>
                            Add New
                        </a>
                    </li>
                </ul>
            </li>

            <li class="sidebar-nav-dropdown" *ngIf="management" navbarDropdown>
                <a class="sidebar-nav-dropdown-toggle" href="javascript:;">
                    <i class="fal fa-comments sidebar-nav-icon"></i>
                    Blog Posts
                </a>
                <ul class="sidebar-nav-dropdown-items">
                    <li class="sidebar-nav-item" *ngIf="checkAccessPage(this.currentUser.access.pages, 'page', 'blog-overview')">
                        <a class="sidebar-nav-link" href="javascript:;" routerLink="/dashboard/staff/blogs" routerLinkActive="active">
                            <i class="fal fa-search sidebar-nav-icon"></i>
                            Overview
                        </a>
                    </li>
                    <li class="sidebar-nav-item" *ngIf="checkAccessPage(this.currentUser.access.pages, 'page', 'blog-add')">
                        <a class="sidebar-nav-link" href="javascript:;" routerLink="/dashboard/staff/blogs/add" routerLinkActive="active">
                            <i class="fal fa-user-plus sidebar-nav-icon"></i>
                            Add New
                        </a>
                    </li>
                </ul>
            </li>

            <li class="sidebar-nav-title" *ngIf="management">Management Extras</li>
            <li class="sidebar-nav-item" *ngIf="management">
                <a class="sidebar-nav-link" href="javascript:;" routerLink="/dashboard/staff/dev" routerLinkActive="active">
                    <i class="fal fa-wrench sidebar-nav-icon"></i>
                    Dev Blog
                </a>
            </li>

            <li class="sidebar-nav-title">Other</li>
            <li class="sidebar-nav-dropdown" navbarDropdown>
                <a class="sidebar-nav-dropdown-toggle" href="javascript:;">
                    <i class="fal fa-user sidebar-nav-icon"></i>
                    Account
                </a>
                <ul class="sidebar-nav-dropdown-items">
                    <li class="sidebar-nav-item">
                        <a class="sidebar-nav-link" href="javascript:;">
                            <i class="fal fa-search sidebar-nav-icon"></i>
                            Overview
                        </a>
                    </li>
                    <li class="sidebar-nav-item">
                        <a class="sidebar-nav-link" href="javascript:;">
                            <i class="fal fa-tasks sidebar-nav-icon"></i>
                            Logs
                        </a>
                    </li>
                    <li class="sidebar-nav-item">
                        <a class="sidebar-nav-link" href="javascript:;">
                            <i class="fal fa-user-friends sidebar-nav-icon"></i>
                            Session
                        </a>
                    </li>
                    <li class="sidebar-nav-item">
                        <a class="sidebar-nav-link" href="javascript:;">
                            <i class="fal fa-random sidebar-nav-icon"></i>
                            Connections
                        </a>
                    </li>
                    <li class="sidebar-nav-item">
                        <a class="sidebar-nav-link" href="javascript:;">
                            <i class="fal fa-shield sidebar-nav-icon"></i>
                            Security
                        </a>
                    </li>
                    <li class="sidebar-nav-item">
                        <a class="sidebar-nav-link" href="javascript:;">
                            <i class="fal fa-cog sidebar-nav-icon"></i>
                            Settings
                        </a>
                    </li>
                </ul>
            </li>

            <li class="sidebar-nav-item">
                <a class="sidebar-nav-link" href="javascript:;" (click)="signOut()">
                    <i class="fal fa-sign-out sidebar-nav-icon"></i>
                    Sign out
                </a>
            </li>


            <li class="sidebar-nav-divider"></li>

            <li class="sidebar-nav-title" *ngIf="management">API Statistics</li>
            <li class="sidebar-nav-item px-3 d-compact-none d-minimized-none" *ngIf="management">
                <div class="text-uppercase mb-1">
                    <small>
                        <b>CPU Usage</b>
                    </small>
                </div>
                <div class="progress progress-xs">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <small class="text-muted">348 Processes. 1/4 Cores.</small>
            </li>

            <li class="sidebar-nav-item px-3 d-compact-none d-minimized-none" *ngIf="management">
                <div class="text-uppercase mb-1">
                    <small>
                        <b>Memory Usage</b>
                    </small>
                </div>
                <div class="progress progress-xs">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <small class="text-muted">11444GB/16384MB</small>
            </li>
            
            <li class="sidebar-nav-item px-3 pb-5 mb-3 d-compact-none d-minimized-none" *ngIf="management">
                <div class="text-uppercase mb-1">
                    <small>
                        <b>SSD 1 Usage</b>
                    </small>
                </div>
                <div class="progress progress-xs">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <small class="text-muted">243GB/256GB</small>
            </li>
        </ul>

        <button class="sidebar-minimizer class-toggler" type="button" data-class="sidebar-unfoldable"></button>
    </div>

    <div class="sidebar sidebar-lg sidebar-light sidebar-right sidebar-overlaid" id="aside">

        <!-- close aside button -->
        <button class="sidebar-close class-toggler" type="button" data-class="sidebar-show">
            <i class="fal fa-times icon"></i>
        </button>

        <!-- tabs control -->
        <ul class="nav nav-tabs nav-underline nav-underline-primary" role="tablist">

            <!-- notifications -->
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" data-tab="#notifications" href="javascript:;" tab>
                    <i class="fas fa-bell icon"></i>
                </a>
            </li>

            <!-- sessions + connections -->
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" data-tab="#sessions" href="javascript:;" tab>
                    <i class="fas fa-random icon"></i>
                </a>
            </li>

            <!-- general updates -->
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" data-tab="#updates" href="javascript:;" tab>
                    <i class="fas fa-tasks icon"></i>
                </a>
            </li>

            <!-- mod: support tickets -->
            <li class="nav-item" *ngIf="management">
                <a class="nav-link" data-toggle="tab" data-tab="#modsupport" href="javascript:;" tab>
                    <i class="fas fa-life-ring icon"></i>
                </a>
            </li>

            <!-- mod: -->
            <li class="nav-item" *ngIf="management">
                <a class="nav-link" data-toggle="tab" data-tab="#modother" href="javascript:;" tab>
                    <i class="fas fa-braille icon"></i>
                </a>
            </li>

        </ul>

        <div class="tab-content" style="position: relative;" perfectScrollbar>
            <div class="tab-pane active" id="notifications" role="tabpanel">
                <div class="list-group list-group-accent">
                    <div
                        class="list-group-item list-group-item-accent-secondary bg-light text-center font-weight-bold text-muted text-uppercase small">
                        Notifications Today
                    </div>
                    <div class="list-group-item list-group-item-accent-warning list-group-item-divider">
                        <div class="avatar float-right"><img class="avatar-img" src="https://github.com/FearGannicus.png?size=72"
                                alt="user@email.com"></div>
                        <div>Meeting with <strong>Lucas</strong></div><small class="text-muted mr-3">
                            <svg class="icon">
                                <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-calendar"></use>
                            </svg>&nbsp; 1 - 3pm</small><small class="text-muted">
                            <svg class="icon">
                                <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-location-pin"></use>
                            </svg>&nbsp; Palo Alto, CA</small>
                    </div>
                    <div class="list-group-item list-group-item-accent-info">
                        <div class="avatar float-right"><img class="avatar-img" src="https://github.com/FearGannicus.png?size=72"
                                alt="user@email.com"></div>
                        <div>Skype with <strong>Megan</strong></div><small class="text-muted mr-3">
                            <svg class="icon">
                                <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-calendar"></use>
                            </svg>&nbsp; 4 - 5pm</small><small class="text-muted">
                            <svg class="icon">
                                <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-skype"></use>
                            </svg>&nbsp; On-line</small>
                    </div>
                    <div
                        class="list-group-item list-group-item-accent-secondary bg-light text-center font-weight-bold text-muted text-uppercase small">
                        Old Notifications
                    </div>
                    <div class="list-group-item list-group-item-accent-danger list-group-item-divider">
                        <div>New UI Project - <strong>deadline</strong></div><small class="text-muted mr-3">
                            <svg class="icon">
                                <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-calendar"></use>
                            </svg>&nbsp; 10 - 11pm</small><small class="text-muted">
                            <svg class="icon">
                                <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-home"></use>
                            </svg>&nbsp; creativeLabs HQ</small>
                        <div class="avatars-stack mt-2">
                            <div class="avatar avatar-xs"><img class="avatar-img" src="https://github.com/FearGannicus.png?size=72"
                                    alt="user@email.com"></div>
                            <div class="avatar avatar-xs"><img class="avatar-img" src="https://github.com/FearGannicus.png?size=72"
                                    alt="user@email.com"></div>
                            <div class="avatar avatar-xs"><img class="avatar-img" src="https://github.com/FearGannicus.png?size=72"
                                    alt="user@email.com"></div>
                            <div class="avatar avatar-xs"><img class="avatar-img" src="https://github.com/FearGannicus.png?size=72"
                                    alt="user@email.com"></div>
                            <div class="avatar avatar-xs"><img class="avatar-img" src="https://github.com/FearGannicus.png?size=72"
                                    alt="user@email.com"></div>
                        </div>
                    </div>
                    <div class="list-group-item list-group-item-accent-success list-group-item-divider">
                        <div><strong>#10 Startups.Garden</strong> Meetup</div><small class="text-muted mr-3">
                            <svg class="icon">
                                <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-calendar"></use>
                            </svg>&nbsp; 1 - 3pm</small><small class="text-muted">
                            <svg class="icon">
                                <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-location-pin"></use>
                            </svg>&nbsp; Palo Alto, CA</small>
                    </div>
                    <div class="list-group-item list-group-item-accent-primary list-group-item-divider">
                        <div><strong>Team meeting</strong></div><small class="text-muted mr-3">
                            <svg class="icon">
                                <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-calendar"></use>
                            </svg>&nbsp; 4 - 6pm</small><small class="text-muted">
                            <svg class="icon">
                                <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-home"></use>
                            </svg>&nbsp; creativeLabs HQ</small>
                        <div class="avatars-stack mt-2">
                            <div class="avatar avatar-xs"><img class="avatar-img" src="assets/img/avatars/2.jpg"
                                    alt="user@email.com"></div>
                            <div class="avatar avatar-xs"><img class="avatar-img" src="assets/img/avatars/3.jpg"
                                    alt="user@email.com"></div>
                            <div class="avatar avatar-xs"><img class="avatar-img" src="assets/img/avatars/4.jpg"
                                    alt="user@email.com"></div>
                            <div class="avatar avatar-xs"><img class="avatar-img" src="assets/img/avatars/5.jpg"
                                    alt="user@email.com"></div>
                            <div class="avatar avatar-xs"><img class="avatar-img" src="assets/img/avatars/6.jpg"
                                    alt="user@email.com"></div>
                            <div class="avatar avatar-xs"><img class="avatar-img" src="assets/img/avatars/7.jpg"
                                    alt="user@email.com"></div>
                            <div class="avatar avatar-xs"><img class="avatar-img" src="assets/img/avatars/8.jpg"
                                    alt="user@email.com"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane p-3" id="sessions" role="tabpanel">
                <div class="message">
                    <div class="py-3 pb-5 mr-3 float-left">
                        <div class="avatar"><img class="avatar-img" src="assets/img/avatars/7.jpg"
                                alt="user@email.com"><span class="avatar-status bg-success"></span></div>
                    </div>
                    <div><small class="text-muted">Lukasz Holeczek</small><small
                            class="text-muted float-right mt-1">1:52 PM</small></div>
                    <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div><small
                        class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt...</small>
                </div>
                <hr>
                <div class="message">
                    <div class="py-3 pb-5 mr-3 float-left">
                        <div class="avatar"><img class="avatar-img" src="assets/img/avatars/7.jpg"
                                alt="user@email.com"><span class="avatar-status bg-success"></span></div>
                    </div>
                    <div><small class="text-muted">Lukasz Holeczek</small><small
                            class="text-muted float-right mt-1">1:52 PM</small></div>
                    <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div><small
                        class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt...</small>
                </div>
                <hr>
                <div class="message">
                    <div class="py-3 pb-5 mr-3 float-left">
                        <div class="avatar"><img class="avatar-img" src="assets/img/avatars/7.jpg"
                                alt="user@email.com"><span class="avatar-status bg-success"></span></div>
                    </div>
                    <div><small class="text-muted">Lukasz Holeczek</small><small
                            class="text-muted float-right mt-1">1:52 PM</small></div>
                    <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div><small
                        class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt...</small>
                </div>
                <hr>
                <div class="message">
                    <div class="py-3 pb-5 mr-3 float-left">
                        <div class="avatar"><img class="avatar-img" src="assets/img/avatars/7.jpg"
                                alt="user@email.com"><span class="avatar-status bg-success"></span></div>
                    </div>
                    <div><small class="text-muted">Lukasz Holeczek</small><small
                            class="text-muted float-right mt-1">1:52 PM</small></div>
                    <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div><small
                        class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt...</small>
                </div>
                <hr>
                <div class="message">
                    <div class="py-3 pb-5 mr-3 float-left">
                        <div class="avatar"><img class="avatar-img" src="assets/img/avatars/7.jpg"
                                alt="user@email.com"><span class="avatar-status bg-success"></span></div>
                    </div>
                    <div><small class="text-muted">Lukasz Holeczek</small><small
                            class="text-muted float-right mt-1">1:52 PM</small></div>
                    <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div><small
                        class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt...</small>
                </div>
            </div>
            <div class="tab-pane p-3" id="settings" role="tabpanel">
                <h6>Settings</h6>
                <div class="aside-options">
                    <div class="clearfix mt-4"><small><b>Option 1</b></small>
                        <label class="switch switch-label switch-pill switch-success switch-sm float-right">
                            <input class="switch-input" type="checkbox" checked=""><span class="switch-slider"
                                data-checked="On" data-unchecked="Off"></span>
                        </label>
                    </div>
                    <div><small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua.</small></div>
                </div>
                <div class="aside-options">
                    <div class="clearfix mt-3"><small><b>Option 2</b></small>
                        <label class="switch switch-label switch-pill switch-success switch-sm float-right">
                            <input class="switch-input" type="checkbox"><span class="switch-slider" data-checked="On"
                                data-unchecked="Off"></span>
                        </label>
                    </div>
                    <div><small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua.</small></div>
                </div>
                <div class="aside-options">
                    <div class="clearfix mt-3"><small><b>Option 3</b></small>
                        <label class="switch switch-label switch-pill switch-success switch-sm float-right">
                            <input class="switch-input" type="checkbox"><span class="switch-slider" data-checked="On"
                                data-unchecked="Off"></span>
                        </label>
                    </div>
                </div>
                <div class="aside-options">
                    <div class="clearfix mt-3"><small><b>Option 4</b></small>
                        <label class="switch switch-label switch-pill switch-success switch-sm float-right">
                            <input class="switch-input" type="checkbox" checked=""><span class="switch-slider"
                                data-checked="On" data-unchecked="Off"></span>
                        </label>
                    </div>
                </div>
                <hr>
                <h6>System Utilization</h6>
                <div class="text-uppercase mb-1 mt-4"><small><b>CPU Usage</b></small></div>
                <div class="progress progress-xs">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div><small class="text-muted">348 Processes. 1/4 Cores.</small>
                <div class="text-uppercase mb-1 mt-2"><small><b>Memory Usage</b></small></div>
                <div class="progress progress-xs">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 70%" aria-valuenow="70"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div><small class="text-muted">11444GB/16384MB</small>
                <div class="text-uppercase mb-1 mt-2"><small><b>SSD 1 Usage</b></small></div>
                <div class="progress progress-xs">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 95%" aria-valuenow="95"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div><small class="text-muted">243GB/256GB</small>
                <div class="text-uppercase mb-1 mt-2"><small><b>SSD 2 Usage</b></small></div>
                <div class="progress progress-xs">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 10%" aria-valuenow="10"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div><small class="text-muted">25GB/256GB</small>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <header class="header header-light header-fixed">

            <button class="sidebar-toggle header-toggler class-toggler d-lg-none mfe-auto" type="button" sidebarhandler>
                <i class="fal fa-bars icon icon-lg"></i>
            </button>

            <a class="header-brand d-lg-none header-brand-sm-up-center" href="#">
                <i class="fas fa-2x fa-signal-stream"></i>
            </a>

            <!-- search bar for moderators -->
            <form class="form-inline my-2 my-lg-0 mfs-3 d-md-down-none">
                <div class="input-group">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-primary my-2 my-sm-0" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>

            <!-- light or dark mode toggle -->
            <ul class="header-nav mfs-auto">
                <li class="header-nav-item p3 d-legacy-none">
                    <button class="class-toggler header-nav-btn" type="button" themeSwitch>
                        <i class="fas fa-moon icon d-dark-none"></i>
                        <i class="fas fa-sun text-warning icon d-default-none"></i>
                    </button>
                </li>
            </ul>

            <ul class="header-nav">

                <li class="header-nav-item dropdown" navbarDropdown>
                    <a class="header-nav-link" href="#">
                        <div class="avatar">
                            <img class="avatar-img" src="https://github.com/FearGannicus.png?size=72"
                                alt="user@email.com">
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right pt-0">
                        <div class="dropdown-header bg-light py-2">
                            <strong>Account</strong>
                        </div>
                        <a class="dropdown-item" href="#">
                            <svg class="icon mfe-2">
                                <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-bell"></use>
                            </svg>
                            Updates
                            <span class="badge badge-info mfs-auto">42</span>
                        </a>
                        <a class="dropdown-item" href="#">
                            <svg class="icon mfe-2">
                                <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-envelope-open"></use>
                            </svg>
                            Messages
                            <span class="badge badge-success mfs-auto">42</span>
                        </a>
                        <a class="dropdown-item" href="#">
                            <svg class="icon mfe-2">
                                <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-task"></use>
                            </svg>
                            Tasks
                            <span class="badge badge-danger mfs-auto">42</span>
                        </a>
                        <a class="dropdown-item" href="#">
                            <svg class="icon mfe-2">
                                <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-comment-square"></use>
                            </svg>
                            Comments
                            <span class="badge badge-warning mfs-auto">42</span>
                        </a>

                        <div class="dropdown-header bg-light py-2">
                            <strong>Settings</strong>
                        </div>
                        <a class="dropdown-item" href="#">
                            <svg class="icon mfe-2">
                                <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-user"></use>
                            </svg>
                            Profile
                        </a>
                        <a class="dropdown-item" href="#">
                            <svg class="icon mfe-2">
                                <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-settings"></use>
                            </svg>
                            Settings
                        </a>
                        <a class="dropdown-item" href="#">
                            <svg class="icon mfe-2">
                                <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-credit-card"></use>
                            </svg>
                            Payments
                            <span class="badge badge-secondary mfs-auto">42</span>
                        </a>
                        <a class="dropdown-item" href="#">
                            <svg class="icon mfe-2">
                                <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-file"></use>
                            </svg>
                            Projects
                            <span class="badge badge-primary mfs-auto">42</span>
                        </a>

                        <div class="dropdown-divider"></div>

                        <a class="dropdown-item" href="#">
                            <svg class="icon mfe-2">
                                <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-lock-locked"></use>
                            </svg>
                            Lock Account
                        </a>
                        <a class="dropdown-item" href="#">
                            <svg class="icon mfe-2">
                                <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-account-logout"></use>
                            </svg>
                            Logout
                        </a>
                    </div>
                </li>

                <!-- open aside menu -->
                <button class="aside-toggle header-toggler class-toggler mfe-md-3" type="button" sidebarhandler>
                    <i class="fas fa-ellipsis-v icon icon-lg"></i>
                </button>
            </ul>

            <div class="subheader justify-content-between p3">

                <ol class="breadcrumb border-0 m-0 p0 pmd-3">
                    <li class="breadcrumb-item">
                        <a href="#">
                            Exordium
                        </a>
                    </li>
                    <li class="breadcrumb-item active">
                        Dashboard
                    </li>
                </ol>

                <div class="subheader-nav d-md-down-none mfe-2">
                    <a class="subheader-nav-link" href="#">
                        <svg class="icon">
                            <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-speech"></use>
                        </svg>
                    </a>
                    <a class="subheader-nav-link" href="#">
                        <svg class="icon">
                            <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-graph"></use>
                        </svg>
                        Dashboard
                    </a>
                    <a class="subheader-nav-link" href="#">
                        <svg class="icon">
                            <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-settings"></use>
                        </svg>
                        Settings
                    </a>
                </div>
            </div>
        </header>

        <!-- main secondary outlet container -->
        <div class="body">
            <main class="main animate__animated animate__faster animate__fadeInUp">
                <div class="container-fluid">
                    <div id="ui-view">

                        <router-outlet name="dashroute"></router-outlet>

                    </div>
                </div>
            </main>
        </div>

        <!-- dashboard footer -->
        <footer class="footer">
            <div>
                <a href="https://exordium.org">Exordium</a> © 2020.
            </div>
            <div class="mfs-auto">
                Maintained by <a href="https://exordium.dev">Exordium Development Team</a>
            </div>
        </footer>
    </div>
</div>

<!-- backdrop for the sidebar (mobile) -->
<div class="sidebar-backdrop fade"></div>