<div class="navbar-container">
    <nav class="navbar navbar-expand-lg navbar-dark navbar-overlay">
        <div class="container">
            <a class="navbar-brand fade-page" href="https://exordium.org/#/welcome">
                <i class="far fa-wifi mr-1"></i>
                Exordium
            </a>
  
            <div class="d-flex align-items-center order-lg-3">
              <a href="https://exordium.org/#/download" class="btn btn-primary ml-lg-3">Download Now</a>
  
              <div class="ml-2">
              </div>
            </div>
  
            <div class="collapse navbar-collapse justify-content-end">
                <div class="py-2 py-lg-0">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a href="https://exordium.org/#/welcome" class="nav-link">
                        <i class="fa fa-fw fa-undo"></i>
                        Back to exordium.org
                      </a>
                    </li>
                  </ul>
                </div>
            </div>
        </div>
    </nav>
</div>

<router-outlet name="auth-route"></router-outlet>

<!-- footer -->
<footer class="bg-primary-3 text-light">
    <div class="container">
      <div class="row mb-4 justify-content-center">
        <div class="col-auto">
          <a href="https://exordium.org/#/welcome">
            <i class="fal fa-2x fa-wifi icon icon-lg icon-c-s"></i>
          </a>
        </div>
      </div>
  
      <div class="row justify-content-center">
        <div class="col-auto">
          <ul class="nav">
            <li class="nav-item">
              <a href="https://exordium.org/#/welcome" class="nav-link">Welcome</a>
            </li>
            <li class="nav-item">
              <a href="https://exordium.org/#/company/about-us" class="nav-link">About</a>
            </li>
            <li class="nav-item">
              <a href="https://exordium.org/#/company/contact" class="nav-link">Contact</a>
            </li>
            <li class="nav-item">
              <a href="https://exordium.org/#/general/support" class="nav-link">Support</a>
            </li>
            <li class="nav-item">
              <a href="javascript:;" class="nav-link active">Customers</a>
            </li>
          </ul>
        </div>
      </div>
  
      <div class="row justify-content-center mt-5 mb-5">
        <div class="col-auto">
          <ul class="nav">
            <li class="nav-item">
              <a href="https://www.instagram.com/exordium.dev/" class="nav-link">
                <i class="fab fa-2x fa-fw fa-instagram icon icon-c-s"></i>
              </a>
            </li>
            <li class="nav-item">
              <a href="https://www.facebook.com/exordium.dev/" class="nav-link">
                <i class="fab fa-2x fa-fw fa-facebook icon icon-c-s"></i>
              </a>
            </li>
            <li class="nav-item">
              <a href="https://discord.exordium.dev/" class="nav-link">
                <i class="fab fa-2x fa-fw fa-discord icon icon-c-s"></i>
              </a>
            </li>
            <li class="nav-item">
              <a href="https://github.com/exordium-dev" class="nav-link">
                <i class="fab fa-2x fa-fw fa-github icon icon-c-s"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
  
      <div class="row justify-content-center text-center">
        <div class="col-xl-10">
          <small class="text-muted">
            &copy; 2020 All Rights Reserved. Exordium.
          </small>
        </div>
      </div>
    </div>
</footer>