

@import "assets/scss/backend";

// import backend
//@import "~@exordium/scss-backend/src/theme.scss";

// import frotend LITE edition for the authentication pages
@import "~@exordium/scss-frontend/src/theme-lite.scss";

// import general plugins for both the frontend lite design and backend design
@import "~@exordium/scss-plugins/src/plugins.scss";

// import some overwrites
app-app-auth {
    .breadcrumb {
        border-bottom: 0 !important;
    }

    footer .nav-link:not(.active):not(.disabled):not(:hover), 
    section .nav-link:not(.active):not(.disabled):not(:hover) {
        opacity: .5;
    }
    footer .nav-link, 
    section .nav-link {
        transition: opacity .2s linear;
    }

    .form-control-select {
        position: relative;
        flex: 1 1 auto;
        width: 1%;
        min-width: 0;
        margin-bottom: 0;
    }
    
}
app-app-dashboard {
    font-size: 0.875rem;

    a {
        font-weight: 400 !important;
    }

    .breadcrumb {
        display: inline-flex;
        font-weight: 400;
    }

    .btn {
        font-size: 0.875rem;
    }
    .badge {
        font-size: 75%;
    }
}