<div class="card card-accent-primary">
    <form name="form" [formGroup]="addBlogForm" (ngSubmit)="onSubmit()">
        <ul class="card-header nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" data-toggle="tab" data-tab="#new" href="javascript:;" tab>
                    <i class="fas fa-fw fa-plus-square"></i>
                    Create Post
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-toggle="tab" data-tab="#preview" href="javascript:;" tab>
                    <i class="fas fa-fw fa-eye"></i>
                    Preview
                </a>
            </li>
        </ul>
        <div class="card-body tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="new" role="tabpanel">
                <!-- title -->
                <div class="form-group">
                    <label>Title *</label>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend" 
                        [ngClass]="{'ng-invalid': f.title.invalid && f.title.dirty,
                                    'ng-valid': f.title.valid && f.title.dirty}">
                        <span class="input-group-text">
                            <i class="fas fa-fw fa-text"></i>
                        </span>
                        </div>
                        <input name="title" type="text" formControlName="title" placeholder="Post title?" class="form-control" required>
                    </div>
                </div>

                <!-- url -->
                <div class="form-group">
                    <label>Post URL *</label>

                    <div class="input-group mb-3">
                      <div class="input-group-prepend" 
                        [ngClass]="{'ng-invalid': f.url.invalid && f.url.dirty,
                                    'ng-valid': f.url.valid && f.url.dirty}">
                        <span class="input-group-text">
                            <i class="fas fa-fw fa-align-left"></i>
                        </span>
                      </div>
                      <input name="url" type="text" formControlName="url" placeholder="Post URL (example 'how-to-use-exordium')" class="form-control" required>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md 6">

                        <div class="form-group">
                            <label>Subject Type *</label>
        
                            <div class="input-group mb-3">
                                <div class="input-group-prepend" 
                                  [ngClass]="{'ng-invalid': f.type.invalid && f.type.dirty,
                                              'ng-valid': f.type.valid && f.type.dirty}">
                                  <span class="input-group-text">
                                      <i class="fas fa-fw fa-tags"></i>
                                  </span>
                                </div>
                                <ng-select
                                    formControlName="type"
                                    class="form-control-custom"
                                    placeholder="Choose Development for the backend"
                                    [items]="subjectType"></ng-select>
                            </div>
                        </div>

                    </div>
                    <div class="col-md 6">
                        
                        <div class="form-group">
                            <label>Cover Photo</label>
        
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend"
                                    [ngClass]="{'ng-invalid': f.cover.invalid && f.cover.dirty,
                                    'ng-valid': f.cover.valid && f.cover.dirty}">
                                  <span class="input-group-text">Upload</span>
                                </div>
                                <div class="custom-file">
                                  <input type="file" class="custom-file-input" (change)="onFileSelect($event)">
                                  <label class="custom-file-label">Choose file</label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- short and long body -->
                <div class="form-group">
                    <label>Post *</label>

                    <div class="input-group mb-3">
                      <div class="input-group-prepend" 
                        [ngClass]="{'ng-invalid': f.body.invalid && f.body.dirty,
                                    'ng-valid': f.body.valid && f.body.dirty}">
                        <span class="input-group-text">
                            <i class="fas fa-fw fa-align-left"></i>
                        </span>
                      </div>
                      <ckeditor name="body" formControlName="body" [editor]="Editor" [(ngModel)]="model.editorData" class="form-control-custom" required></ckeditor>
                    </div>
                </div>

                <!-- recaptcha -->
                <re-captcha
                    formControlName="recaptcha"
                ></re-captcha>
            </div>
            <div class="tab-pane email-app" id="preview" role="tabpanel">
                
                <div class="messages">

                    <a class="message" href="javascript:;">
                        <div class="message-details">
                            <div class="message-headers">
                                <div class="message-headers-from" *ngIf="currentUser">
                                    <i class="fas fa-badge-check text-primary" *ngIf="currentUser.title === 'Developer'"></i>
                                    <i class="fas fa-star text-warning" *ngIf="currentUser.title !== 'Developer'"></i>
                                    {{ currentUser.username | titlecase }}
                                </div>
                                <div class="message-headers-date">
                                    <i class="fas fa-history"></i>
                                    {{ timeDate | date: 'MMMM d, y h:mm a' }}
                                </div>
                                <div class="message-headers-subject mt-2">
                                    {{ f.title.value }}
                                </div>
                            </div>
                            <div class="message-body" [innerHTML]="f.body.value">
                            </div>
                        </div>
                    </a>
                    
                </div>

            </div>
        </div>

        <ngx-loading-bar ref="http"></ngx-loading-bar>

        <div class="card-footer" *ngIf="currentUser">

            <div class="row">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary submitSignin">
                        <i class="fa fa-fw fa-paper-plane"></i>
                        Add new post
                    </button>
                </div>
                <div class="col-md-6 text-right">
                    <p class="my-1">
                        Written by 
                        <span class="text-bold">
                            <i class="fas fa-badge-check text-primary" *ngIf="currentUser.title === 'Developer'"></i>
                            <i class="fas fa-star text-warning" *ngIf="currentUser.title !== 'Developer'"></i>
                            {{ currentUser.username | titlecase }}
                        </span> 
                        on <i class="fas fa-history"></i> {{ timeDate | date: 'MMMM d, y h:mm a' }}
                    </p>
                </div>
            </div>

        </div>
    </form>
</div>